body {
    font-family: "Open Sans", sans-serif;
    color: #615445;
    margin: 32px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

input{
    font-family: inherit;
    text-align: left;
    border-color: #615445;
    width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 2px;
}

td {
    padding: 4px 8px;
}

#header {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 48px;
    color: #cc0000;
    margin: 0px;
}

.disclaimer {
    color: #c0bcb8;
}

.label {
    font-size: 20px;
}

.nested {
    margin: 0px 2px;
    padding: 2px 30px;
    border-left: 4px #e6dfd6 solid;
}

.button-interactive, .table-button {
    color: #ffffff;
}
.table-button {
    border-radius: 4px;
    background: #615445;
}
.button, .button-interactive, input {
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
}
.button, .button-interactive {
    text-align: center;
}
.button-interactive {
    width: 16px;
}
.button-interactive:hover {
    background: #6e5f4e;
}
.button-interactive:active {
    background: #8c8072;
}

.progress-bg, .progress-fg {
    height: 24px;
    border-radius: 4px;
}
.progress-bg {
    margin: 0px 16px;
    width: 400px;
    background: #c0bcb8;
}
.progress-fg {
    background: #cc0000;
}

.fa-refresh {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
